.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: black;
    font-size: 1.0em;
    font-weight: bold;
/*    text-shadow: 1px 1px 1px #222; */
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
h1 {
    font-size: 1.0em;
    font-weight: bold;
}
.row {
    padding: 15px;
}
.foodItem{
    text-align: center;
    font-weight: bold;
}
.card{
    background: #D3D3D3;
    padding: 15px;
}